$SFPro: 'SFProDisplay',
sans-serif;
$space: 'spaceagecyrillic',
sans-serif;
$Roboto: 'Roboto',
sans-serif;
$orange: #FF9900;
$active: #fb0909;

/*blue*/

$red: #CB0E0E;
$ac: #fcd7b6;
$green:#14B4BE;
$white: #FFFFFF;
$black: #000000;
$title: #436372;
$blue:  #036CCA;
$silver: #E5E5E5;




/*$ac: #fcd7b6;

/*accent*/


/*
$antique:#fde7d3;
$default: #243f4d;
$title: #436372;
$Cream: #feefe2;
$Crayola: #c2d2db;
$red: #e72828;
$red1 :#fe3e57;
$orange: #ffa500;

$active: #fb0909;
$ac: #fcd7b6;
$green:#14B4BE;
*/